* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

main, footer {
  position: relative;
  z-index: 2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.social {
  color: white;
  font-size: 20px;
}
.social i {
  text-align: center;
  line-height: 45px;
  display: inline-block;
  height: 45px;
  width: 45px;
  background: #1E2123;
}
.social i:nth-child(2) {
  margin: 0 5px;
}
.social i:hover {
  cursor: pointer;
}

@-webkit-keyframes effect {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes effect {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #d5625f;
  }
  70% {
    box-shadow: 0 0 0 30px rgba(213, 98, 95, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(213, 98, 95, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #d5625f;
  }
  70% {
    box-shadow: 0 0 0 30px rgba(213, 98, 95, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(213, 98, 95, 0);
  }
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.5s;
}

.fade-enter-to, .fade-leave {
  opacity: 1;
}

header {
  height: 100vh;
  background-image: url("../img/home-banner.jpg");
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}
header .header-top {
  display: flex;
  justify-content: space-between;
  padding: 30px 90px;
}
header .header-top .logo img {
  width: 50%;
}
header .header-top nav {
  display: flex;
  align-items: center;
}
header .header-top nav ul {
  display: flex;
}
header .header-top nav ul li {
  margin: 0 20px;
  white-space: nowrap;
}
header .header-top nav ul li a {
  color: #fefefe;
  transition: color 0.2s;
}
header .header-top nav ul li a:hover {
  color: #d5625f;
}
header .header-bottom {
  text-align: center;
  color: #fefefe;
  font-size: 55px;
  -webkit-animation-name: effect;
          animation-name: effect;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
header .header-bottom p {
  font-size: 25px;
  margin: 20px 0;
}
header .header-bottom a {
  display: inline-block;
  border: 2px solid #6b6b6b;
  color: #6b6b6b;
  background: transparent;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s;
}
header .header-bottom a:hover {
  border: 2px solid #fefefe;
  color: #fefefe;
  cursor: pointer;
}

main {
  text-align: center;
}
main .world-class-fitness {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 130px 0;
  background: #25292B;
}
main .world-class-fitness h3 {
  color: white;
  font-size: 35px;
}
main .world-class-fitness img {
  margin: 40px 0;
}
main .world-class-fitness p {
  line-height: 40px;
  padding: 0 200px;
  color: #AEAFAE;
  font-size: 20px;
}
main .world-class-fitness .fa-sort-down {
  position: absolute;
  bottom: -8%;
  font-size: 110px;
  color: #25292B;
}
main .signup {
  background: #1E2123;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 140px 90px;
}
main .signup .fit-image {
  width: 40%;
}
main .signup img {
  height: 300px;
  transition: transform 0.5s;
}
main .signup img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
main .signup .signup-form {
  width: 45%;
  color: white;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .signup .signup-form h3 {
  text-align: left;
  font-size: 25px;
}
main .signup .signup-form label {
  display: block;
  text-align: left;
  color: #AEAFAE;
}
main .signup .signup-form .input {
  width: 100%;
  margin: 10px 0 20px;
  height: 40px;
  background: #1E2123;
  border: 1px solid #6b6b6b;
  color: white;
}
main .signup .signup-form .input-button {
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  margin-top: 30px;
  background-color: #d5625f;
  color: white;
  border: 0;
}
main .signup .signup-form .input-button:hover {
  cursor: pointer;
}
main .what-we-do {
  padding: 140px 90px;
  background-image: url("../img/gym_bkgd_bw-compressor.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .what-we-do .item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
main .what-we-do .item i {
  text-align: center;
  display: block;
  height: 90px;
  width: 90px;
  line-height: 88px;
  font-size: 50px;
  color: #d5625f;
  border: 1px solid #d5625f;
  border-radius: 50%;
  transition: transform 0.2s;
  box-shadow: 0 0 0 0 #d5625f;
}
main .what-we-do .item .subtitle {
  margin: 15px 0;
  transition: color 0.5s;
}
main .what-we-do .item img {
  margin-bottom: 15px;
}
main .what-we-do .item p {
  color: #AEAFAE;
  line-height: 30px;
}
main .what-we-do .item:hover {
  cursor: pointer;
}
main .what-we-do .item:hover .subtitle {
  color: #d5625f;
}
main .what-we-do .item:hover i {
  transform: scale(0.9);
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
main .results {
  padding: 140px 90px;
  background: #25292B;
}
main .results h2 {
  color: white;
  font-size: 35px;
}
main .results .divider {
  margin: 30px 0;
}
main .results .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
main .results .results-item {
  background: #1E2123;
  margin: 25px;
  padding: 30px;
  display: flex;
  width: calc(100% / 2 - 50px);
  color: #AEAFAE;
}
main .results .results-item p, main .results .results-item h4 {
  padding: 0 20px;
  text-align: left;
  line-height: 30px;
}
main .facilities {
  padding: 140px 90px;
  background: #25292B;
}
main .facilities h2 {
  color: white;
  font-size: 35px;
}
main .facilities .divider {
  margin: 30px 0;
}
main .facilities .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
main .facilities .flex-container img {
  margin: 20px;
  width: calc(100% / 3 - 40px);
  transition: transform 0.2s;
}
main .facilities .flex-container img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
main .quote {
  height: 80vh;
  background-image: url("../img/home-testimonial-bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  color: white;
  padding: 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .quote p {
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 40px;
}
main .quote h3 {
  margin-top: 30px;
}
main .trainers-container {
  padding: 140px 90px;
  background: #25292B;
  background: #1E2123;
  position: relative;
}
main .trainers-container h2 {
  color: white;
  font-size: 35px;
}
main .trainers-container .divider {
  margin: 30px 0;
}
main .trainers-container .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
main .trainers-container .trainers {
  background: #25292B;
  margin: 25px;
  width: calc(100% / 3 - 50px);
  text-align: left;
}
main .trainers-container .trainers img {
  width: 100%;
  transition: transform 0.4s;
}
main .trainers-container .trainers img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
main .trainers-container .trainers .info {
  padding: 50px 40px;
}
main .trainers-container .trainers h4 {
  color: white;
  margin-bottom: 5px;
}
main .trainers-container .trainers p {
  margin: 20px 0;
  color: #AEAFAE;
  line-height: 30px;
}
main .trainers-container .hidden-trainers {
  padding: 140px 90px;
  background: #25292B;
}
main .trainers-container .hidden-trainers h2 {
  color: white;
  font-size: 35px;
}
main .trainers-container .hidden-trainers .divider {
  margin: 30px 0;
}
main .trainers-container .hidden-trainers .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
main .trainers-container .view {
  margin-top: 70px;
  display: inline-block;
  border: 2px solid #6b6b6b;
  color: #6b6b6b;
  background: transparent;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s;
}
main .trainers-container .view:hover {
  border: 2px solid #fefefe;
  color: #fefefe;
  cursor: pointer;
}
main .trainers-container .fa-sort-down {
  font-size: 110px;
  position: absolute;
  color: #1E2123;
  left: 50%;
  transform: translateX(-50%);
}
main .news {
  padding: 140px 90px;
  background: #25292B;
  background: #25292B;
}
main .news h2 {
  color: white;
  font-size: 35px;
}
main .news .divider {
  margin: 30px 0;
}
main .news .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
main .news .float-element::after {
  content: "";
  display: table;
  clear: both;
}
main .news .col {
  float: left;
  margin: 20px 25px;
  width: calc(100% / 3 - 50px);
}
main .news .article {
  background: #1E2123;
  text-align: left;
}
main .news .article:nth-child(2) {
  margin: 50px 0;
}
main .news .article .img {
  position: relative;
}
main .news .article .img img {
  display: block;
  height: 100%;
  width: 100%;
}
main .news .article .img .layover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}
main .news .article .img .layover i {
  font-size: 25px;
  color: white;
  margin: 0 5px;
  opacity: 0;
  transition: opacity 0.5s;
}
main .news .article .img:hover {
  cursor: pointer;
}
main .news .article .img:hover .layover {
  background-color: rgba(213, 98, 95, 0.8);
}
main .news .article .img:hover i {
  opacity: 1;
}
main .news .article .article-text {
  padding: 25px 25px;
  line-height: 30px;
}
main .news .article h3 {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
}
main .news .article p {
  color: #AEAFAE;
  font-size: 16px;
}
main .news .button {
  display: inline-block;
  border: 2px solid #6b6b6b;
  color: #6b6b6b;
  background: transparent;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s;
}
main .news .button:hover {
  border: 2px solid #fefefe;
  color: #fefefe;
  cursor: pointer;
}
main .goals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  text-align: left;
  height: 35vh;
  background-image: url("../img/home-parallax.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: top;
  background-attachment: fixed;
  color: white;
}
main .goals h2 {
  margin: 0 25px 15px;
  font-size: 35px;
}
main .goals p {
  margin: 25px;
  font-size: 20px;
}
main .goals .button {
  display: inline-block;
  border: 2px solid #6b6b6b;
  color: #6b6b6b;
  background: transparent;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s;
  color: #cccccc;
  border: 1px solid #cccccc;
  margin: 25px;
}
main .goals .button:hover {
  border: 2px solid #fefefe;
  color: #fefefe;
  cursor: pointer;
}
main .goals .button:hover {
  border: 1px solid #fefefe;
}

footer .footer-top {
  background: #1E2123;
  padding: 70px 90px;
  display: flex;
  justify-content: space-between;
  color: #AEAFAE;
  line-height: 30px;
}
footer .footer-top .width {
  width: calc(100% / 4 - 40px);
  margin: 25px;
}
footer .footer-top h4 {
  color: #647178;
  font-weight: 400;
  margin-bottom: 20px;
}
footer .footer-top .first, footer .footer-top .second {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(153, 153, 141, 0.3);
  transition: color 0.4s;
}
footer .footer-top .first i, footer .footer-top .second i {
  font-size: 14px;
  margin-right: 5px;
}
footer .footer-top .first:hover, footer .footer-top .second:hover {
  color: #d5625f;
  cursor: pointer;
}
footer .footer-top .second {
  padding-top: 10px;
}
footer .footer-top img {
  width: 100%;
}
footer .footer-top .weekdays {
  margin-bottom: 15px;
}
footer .footer-top .hour {
  color: rgba(153, 153, 141, 0.3);
}
footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 90px;
  background: #191C1E;
  color: #AEAFAE;
  font-size: 14px;
}
footer .footer-bottom .copyright {
  margin: 0 25px;
}
footer .footer-bottom .social {
  margin: 0 25px;
}
footer .footer-bottom .social i {
  background-color: #d5625f;
}
