<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    <div id="container">
      <!-- header -->
      <header>
        <div class="header-top">
          <div class="logo">
            <img src="img/gym_logo_2x.png" alt="">
          </div>
          <nav>
            <ul>
              <li v-for="element in headerNav"><a :href="element.link">{{element.name}}</a></li>

            </ul>
          </nav>
        </div>
        <div class="header-bottom">
          <h1>NO PAIN NO GAIN</h1>
          <p>Motivation is what gets you started. Habit is what keeps you going.</p>
          <a href="#">JOIN US TODAY</a>
        </div>
      </header>
      <!-- /header -->

      <!-- main -->
      <main>
        <!-- world-class -->
        <div class="world-class-fitness">
          <h3>WORLD CLASS Fitness</h3>
          <img src="img/divider-xx-red.png" alt="">
          <p>At Avada Gym, everything we do from top to bottom is of the highest quality to ensure we’re equipped to help you reach your goals of a healthy and fit lifestyle.</p>
          <i class="fas fa-sort-down"></i>
        </div>
        <!-- /world-class -->

        <!-- signup -->
        <div class="signup">
          <div class="fit-image">
            <img src="img/home_img-compressor.jpg" alt="">
          </div>
          <div class="signup-form">
            <h3>Sign Up For A Free Training Session!</h3>
            <form class="" action="index.html" method="post">
              <label for="name">Name</label>
              <input class="input" type="text" name="name" value="">
              <label for="email">Email</label>
              <input class="input" type="email" name="email" value="">
              <input class="input-button" type="submit" name="" value="START NOW">
            </form>

          </div>
        </div>
        <!-- /signup -->

        <!-- what-we-do -->
        <div class="what-we-do">
          <div class="item">
            <i class="fas fa-unlink"></i>
            <h4 class="subtitle">Strength & Conditioning</h4>
            <img src="img/divider-x-red.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nostrum.</p>
          </div>
          <div class="item">
            <i class="fas fa-bicycle"></i>
            <h4 class="subtitle">Fitness & Cardio</h4>
            <img src="img/divider-x-red.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nostrum.</p>
          </div>
          <div class="item">
            <i class="fab fa-skyatlas"></i>
            <h4 class="subtitle">Flexibility & Rest</h4>
            <img src="img/divider-x-red.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nostrum.</p>
          </div>
          <div class="item">
            <i class="fas fa-heartbeat"></i>
            <h4 class="subtitle">Health & Diet</h4>
            <img src="img/divider-x-red.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nostrum.</p>
          </div>

        </div>
        <!-- /what-we-do -->

        <!-- results -->
        <div class="results">
          <h2>REAL WORLD RESULTS</h2>
          <img class="divider" src="img/divider-xx-red.png" alt="">
          <div class="flex-container">
            <div v-for="element in results" class="results-item">
              <img :src="element.image" alt="">
              <div class="results-text">
                <p><i>{{element.text}}</i></p>
                <h4>- {{element.name}}</h4>
              </div>
            </div>


        </div>
        <!-- /results -->
      </main>
      <!-- /main -->

      <!-- footer -->
      <footer>

      </footer>
      <!-- /footer -->
    </div>



    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
