header{
  height: 100vh;
  background-color: black;
  transition: background-image 0.5s;
  background-position: center;
  @include backgroundSizeCover;
  background-attachment: fixed;
  .header-top{
    display: flex;
    justify-content: space-between;
    padding: 30px 90px;
    .logo{
      img{
        width: 50%;
      }
    }
    nav{
      display: flex;
      align-items: center;
      ul{
        display: flex;
        li{
          margin: 0 20px;
          white-space: nowrap;
          a{
            color: $whiteColor;
            @include transition(color, 0.2s);
            &:hover{
              color: $hoverColor;
            }
          }
        }
      }
    }
  }
  .header-bottom{
    text-align: center;
    color: $whiteColor;
    font-size: 55px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    p{
      font-size: 25px;
      margin: 20px 0;
    }
    a{
      @include button;
    }
  }
}
