header{
  height: 100vh;
  background-image: url('../img/home-banner.jpg');
  background-position: center;
  @include backgroundSizeCover;
  background-attachment: fixed;
  .header-top{
    display: flex;
    justify-content: space-between;
    padding: 30px 90px;
    .logo{
      img{
        width: 50%;
      }
    }
    nav{
      display: flex;
      align-items: center;
      ul{
        display: flex;
        li{
          margin: 0 20px;
          white-space: nowrap;
          a{
            color: $whiteColor;
            @include transition(color, 0.2s);
            &:hover{
              color: $hoverColor;
            }
          }
        }
      }
    }
  }
  .header-bottom{
    text-align: center;
    color: $whiteColor;
    font-size: 55px;
    animation-name: effect;
    animation-duration: 1s;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    p{
      font-size: 25px;
      margin: 20px 0;
    }
    a{
      display: inline-block;
      border: 2px solid $greyColor;
      color: $greyColor;
      background: transparent;
      padding: 15px 30px;
      font-size: 20px;
      font-weight: 700;
      @include transition(all, 0.3s);
      &:hover{
        border: 2px solid $whiteColor;
        color: $whiteColor;
      }
    }
  }
}
