main{
  text-align: center;

  // world-class
  .world-class-fitness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 130px 0;
    background: $mainColor1;
    h3{
      color: white;
      font-size: 35px;
    }
    img{
      margin: 40px 0;
    }
    p{
      line-height: 40px;
      padding: 0 200px;
      color: $lightgreyColor;
      font-size: 20px;
    }
    .fa-sort-down{
      position: absolute;
      bottom: -8%;
      font-size: 110px;
      color: $mainColor1;
    }
  }
  // fine world-class

  // signup
  .signup{
    background: $mainColor2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 140px 70px;
    .fit-image{
      width: 40%;
    }
    img{
      height: 300px;
      @include transition(transform, 0.5s);
      &:hover{
        @include zoomEffect(1.1);
        cursor: pointer;
      }
    }
    .signup-form{
      width: 45%;
      color: white;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h3{
        text-align: left;
        font-size: 25px;
      }
      label{
        display: block;
        text-align: left;
        color: $lightgreyColor;
      }
      .input{
        @include input;
      }
      .input-button{
        @include inputButton;
      }
    }
  }
  // fine signup

  // what-we-do
  .what-we-do{
    padding: 140px 0;
    background-image: url('../img/gym_bkgd_bw-compressor.jpg');
    @include backgroundSizeCover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .item{
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      i{
        @include icons;
      }
      .subtitle{
        margin: 15px 0;
        @include transition(color, 0.5s);
      }
      img{
        margin-bottom: 15px;
      }
      p{
        color: $lightgreyColor;
        line-height: 30px;
      }
      &:hover{
        cursor: pointer;
      }
      &:hover .subtitle{
        color: $hoverColor;
      }
      &:hover i{
        transform: scale(0.9);
        animation-name: pulse;
        animation-duration: 1.5s;
        animation-delay: 0.05s;
      }
    }
  }
  // fine what-we-do

  // results
  .results{
    @include results-facilities-trainers;
    .results-item{
      background: $mainColor2;
      margin: 25px;
      padding: 30px;
      display: flex;
      width: calc(100% / 2 - 50px);
      color: $lightgreyColor;
      p, h4{
        padding: 0 20px;
        text-align: left;
        line-height: 30px;
      }
    }
  }
  // fine results

  // facilities
  .facilities{
    @include results-facilities-trainers;
    .flex-container{
      img{
        margin: 20px;
        width: calc(100% / 3 - 40px);
        @include transition(transform, 0.2s);
        &:hover{
          @include zoomEffect(1.1);
          cursor: pointer;
        }
      }
    }
  }
  // fine facilities

  // quote
  .quote{
    height: 80vh;
    background-image: url('../img/home-testimonial-bg.jpg');
    @include backgroundSizeCover;
    background-position: center;
    color: white;
    padding: 0 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      font-size: 28px;
      letter-spacing: 3px;
      line-height: 40px;
    }
    h3{
      margin-top: 30px;
    }
  }
  // fine quote

  // trainers
  .trainers-container{
    @include results-facilities-trainers;
    background: $mainColor2;
    position: relative;
    .trainers{
      background: $mainColor1;
      margin: 25px;
      width: calc(100% / 3 - 50px);
      text-align: left;
      img{
        width: 100%;
        @include transition(transform, 0.4s);
        &:hover{
          cursor: pointer;
          @include zoomEffect(1.1);
        }
      }
      .info{
        padding: 50px 40px;
      }
      h4{
        color: white;
        margin-bottom: 5px;
      }
      p{
        margin: 20px 0;
        color: $lightgreyColor;
        line-height: 30px;
      }
      .social{
        color: white;
        font-size: 20px;
        i{
          text-align: center;
          line-height: 45px;
          display: inline-block;
          height: 45px;
          width: 45px;
          background: $mainColor2;
          &:nth-child(2){
            margin: 0 5px;
          }
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    .hidden-trainers{
      @include results-facilities-trainers;
    }
    .view{
      margin-top: 70px;
      @include button;
    }
    .fa-sort-down{
      font-size: 110px;
      position: absolute;
      color: $mainColor2;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  // fine trainers

  // news
  .news{
    height: 50vh;
  }
}
