@mixin backgroundSizeCover{
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@mixin zoomEffect($zoom){
  transform: scale($zoom);
}

@mixin transition($property, $sec){
  transition: $property $sec;
}
