@mixin backgroundSizeCover{
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@mixin zoomEffect($zoom){
  transform: scale($zoom);
}

@mixin transition($property, $sec){
  transition: $property $sec;
}

@mixin input{
  width: 100%;
  margin: 10px 0 20px;
  height: 40px;
  background: $mainColor2;
  border: 1px solid $greyColor;
  color: white;
}

@mixin inputButton{
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  margin-top: 30px;
  background-color: $hoverColor;
  color: white;
  border: 0;
  &:hover{
    cursor: pointer;
  }
}

@mixin icons{
  text-align: center;
  display: block;
  height: 90px;
  width: 90px;
  line-height: 88px;
  font-size: 50px;
  color: $hoverColor;
  border: 1px solid $hoverColor;
  border-radius: 50%;
  transition: transform 0.2s;
  box-shadow: 0 0 0 0 rgba(213, 98, 95, 1);
}

@mixin results-facilities-trainers-news{
  padding: 140px 60px;
  background: $mainColor1;
  h2{
    color: white;
    font-size: 35px;
  }
  .divider{
    margin: 30px 0;
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }
}

@mixin button{
  display: inline-block;
  border: 2px solid $greyColor;
  color: $greyColor;
  background: transparent;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  @include transition(all, 0.3s);
  &:hover{
    border: 2px solid $whiteColor;
    color: $whiteColor;
    cursor: pointer;
  }
}

@mixin clearfix{
  content: '';
  display: table;
  clear: both;
}
